* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
    
}
#home,
#about,
#gallery,
#services,
#contact {
    scroll-snap-align: start;
}
html, body {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 500vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    user-select: none;
    cursor: none;
}
.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 500;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
}
.navbar a:hover::before{
   width: 100%;
}

#home{
    background-image: url(img/Cotton_candy-removebg-preview.png);
    background-size: cover;
    background-position: center;
    height: 102vh;
    width: 100vw;
    display: block;
    

}
#about{
    height: 100vh;
    font-size: 18px;
    color:#000;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.text{
    width: 700px;
}
.logo3 img{
    border-radius: 15px;
    height: 75%;
}
#gallery{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero{
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;

}
.hero .carousel{
    
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
}
.carousel img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
    border-radius: 15px;
    
}
#services {
    height: 100vh;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.contact-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #69275c;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
    
}
.container{
    max-width: 800px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #69275c;
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.content{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
}
.btn,
button,
input{
    border-radius: 35px;
}
.btn:hover,
button:hover{
    color: #97359c;
    transition: 0.5s ease;
    cursor: pointer;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #69275c;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #69275c;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #69275c;

}
.menu{
    bottom: 0;
    right: 0;
    margin-left: 1em;
    position: fixed;
    width: 280px;
    height: 280px;
    align-items: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.menu .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2em;
    color: #000;
    transition: 1.25s;
    z-index: 1000;
}
.menu.active .toggle{
    transform: rotate(360deg);
    box-shadow: 0px 6px 8px rgba(0,0,0,0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}
.menu li{
    position: absolute;
    left: 0;
    list-style-type: none;
    transition: 0.5s;
    transform: rotate(calc(360deg/7 * var(--i)));
    transform-origin: 140px;
    scale: 0;
    transition-delay: calc(0.05s * var(--i));
    
}
.menu.active li{
    scale: 1;
}
.menu li a{
    position: relative;
    display: flex;
    transform: rotate(calc(360deg/-7 * var(--i)));
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.75em;
    color: var(--color);
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    transition: 0.5s;

}
.menu li:hover a{
    font-size: 2.5em;
    box-shadow: 0 0 0 2px var(--color), 0 0 0 6px #fff;
}

@media(max-width:1200px){
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        flex-direction: column;
    }
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

}

 @media(min-width:992px) and (max-width: 1199px){
    .text{
        margin-left: 10em;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        flex-direction: column;
    }
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    #services {
        margin-top: 2rem;
        height: 170vh;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        display: inline-block;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #about {
        
        height: 170vh;
        width: 100vw;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        display: inline-block;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    #about img{
        width: 100%;
        height: 100%;
    }
    .logo {
        font-size: 32px;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        user-select: none;
        cursor: none;
        margin-left: 7rem;
    }
  
} 

@media(min-width:768px)and (max-width: 991px){
    #about {
        
        height: 170vh;
        width: 100vw;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        display: inline-block;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #about img{
        width: 100%;
        height: 100%;
    }
    .logo {
        font-size: 32px;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        user-select: none;
        cursor: none;
        margin-left: 7rem;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        flex-direction: column;
    }
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    #services {
        margin-top: 2rem;
        height: 170vh;
        
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    }
    
   


@media(min-width:500px)and (max-width: 767px){
    *{
        overflow-x: hidden;
    }
    #gallery{
        display: none;
    }
    
    #home {
    
        background-position: center;
        width: 500px;
        height: 600px;
        background-repeat: no-repeat;
    }
    .navbar a:first-child{
        display: none;
    }
    .navbar a:nth-child(3){
        display: none;
    }
    .navbar a{
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        flex-direction: column;
    }
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    #services {
        margin-top: 2rem;
        height: 170vh;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        display: inline-block;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #services blockquote{
        text-wrap: wrap;
        width: 500px;
    }
    #about {
        
        height: 170vh;
        width: 100vw;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        display: inline-block;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #about blockquote{
        text-wrap: wrap;
        width: 500px;
    }
    #about img{
        height: 70%;
        width: 70%;
    }
    .logo {
        font-size: 32px;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        user-select: none;
        cursor: none;
       
    }
    .logo3{
        margin-top: 100px;
    }
    #services .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}
/* @media (max-width: 500px) {
    *{
        display: none;
    }
} */